nav{
    width: 100px;
    height: 50px;
    border: solid 1px black
}

body{ 
    width: 100px;
    height: 50px;
    

}
header{
    width:100px;
    height:50px;

}
footer{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width:100px;
height: 50px;
}
.snippet-box1{
    width: 100px;
    height: 50px;
    border: solid 1px black

}

.snippet-box2{
    width: 100px;
    height: 50px;
    border: solid 1px black
}
.snippet-box3{
    width: 100px;
    height: 50px;
    border: solid 1px black
}
.snippet-box4{
    width: 100px;
    height: 50px;
    border: solid 1px black
}
.snippet-box5{
    width: 100px;
    height: 50px;
    border: solid 1px black
}
.snippet-box6{
    width: 100px;
    height: 50px;
    border: solid 1px black
}

